* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(45deg, #ffd195, #ffb283);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-box {
  position: relative;
  background-color: #fff;
  padding: 15px 35px;
  text-align: center;
}
h1 {
  color: #777;
  font-size: 27px;
}
.stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
}
.stars i.active {
  color: #ff9c19;
}
